body{
    width: 1280px;
    border: 10px solid black;
    height: 800px;
    margin: auto;
}

.cama{
    background-color: burlywood;
    width: 100px;
    height: 300px;
    text-align: center;
    padding: 2px 10px 0px 10px;
    margin: 40px 20px;
    float: right;
}

#camasBloque {
    background-color: aquamarine;
    overflow: hidden;
}
/*ocupa 832 = 800(body)+2(borde)+15+15(padding)*/
#camasLinea{
    width: 800px;
    background-color: darkgreen;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    padding: 0px 15px;
}
#camasBloque .cama{
    
    background-color: rgb(238, 145, 145);
}
#dormilon{
    float: left;
    border: 1px solid black;
}
/*cama de altura 302 -800 (body) =249px esto es la mitad*/
#gunon{
    position: absolute;
    top:249px;
    right: 0px; /*20px a la drc como ya tenia 20 de derecha 20-20=0*/
}

#timido{
    position: relative;
    z-index: -1;
}

/*pagina 20 del pdf de css de classroom*/
.cama:first-letter {
    font-size: 35px;
    font-style: italic;
}
/*even pares old impares*/
#camasLinea .cama:nth-child(even) {
    background-color: #F1FEE3;
}
/*color gruñon*/
#camasLinea .cama:nth-child(2){
    background-color: #D6234A;
}
/*selector con mas pioridad*/
#cajaLinea span.cama:nth-child(2){
    background-color: #3b0aee;
}

#puerta{
    width: 80px;
    height: 150px;
    background-color: saddlebrown;
    position: absolute;
    top:400px;
    left: 250px;
    z-index: 1;
    text-align: center;
}
#ventana{
    background-color: aqua;
    width: 80px;
    height: 150px;
    position: absolute;
    top:250px;
    right: 250px;
    z-index: 1;
    text-align: center;
}